nav, nav a{
  background-color: black;
  color: white !important;
}

footer{
  text-align: center;
  background-color: black;
  color: gold;
  padding: 20px;
}

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px gold;
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px gold;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Outline In */
.hvr-outline-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-outline-in:before {
  pointer-events: none;
  content: '';
  position: absolute;
  border: #e1e1e1 solid 4px;
  top: -16px;
  right: -16px;
  bottom: -16px;
  left: -16px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.hvr-outline-in:hover:before, .hvr-outline-in:focus:before, .hvr-outline-in:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  opacity: 1;
}

/* Jammugym component style */

#jmugym{
  padding: 100px 0 100px 0;
}

#jmugymimg1,#jmugymimg2{
  max-width: 33%;
  margin: 50px;
  animation: poping 2s infinite;
}

@keyframes poping {
    from,
    20%,
    53%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 0, 0);
    }
  
    40%,
    43% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -30px, 0) scaleY(1.1);
    }
  
    70% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -15px, 0) scaleY(1.05);
    }
  
    80% {
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 0, 0) scaleY(0.95);
    }
  
    90% {
      transform: translate3d(0, -4px, 0) scaleY(1.02);
    }
  }
  
  .bounce {
    animation-name: bounce;
    transform-origin: center bottom;
  }


#jmugymimg1{
  transform: translateY(100px) !important;
}


#readmore{
  background-color: #eed97d;
}

/* Seprator component style */
#sepratorimg{
  background-image: url('./Assets/sep.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 300px;
  padding: 20px;
}
#viewmore{
  background-color: #eed97d;
}

#fotter{
  background-color: rgb(36, 35, 35);
  color: white;
  padding: 20px;
}

#footer{
  padding: 20px;
  margin-top: 20px;
}